# macOS files
.DS_Store

# IDE files
*.idea
*.iml
*.vscode

# Maven files
target

# Project files
ChangeDemo.java
SimpleQuery.java
SimpleTrans.java
DateQuery.java
ReqParam.java
TestSequences.txt
TraitementStrings.txt